body{
    margin: 0;
    font-size: 18px;
}

@media (max-width: 768px){
body{
background-image: url("AMelhor.jpeg");
max-width: 768px;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
margin: 0;
}
}